<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-toolbar>
    <ion-segment [(ngModel)]="segmentModel" value="accueil">
      <ion-segment-button value="accueil">Accueil</ion-segment-button>
      <ion-segment-button value="favorites">Posters favoris</ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-card *ngIf="segmentModel === 'accueil'">
    <ion-card-header>
      <img [src]="accueil.url" >
      <ion-card-subtitle>{{accueil.author}}</ion-card-subtitle>
      <ion-card-title>{{accueil.title}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{accueil.description}}
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="segmentModel === 'favorites'" >
    <app-list-item *ngFor="let fav of favs" [img]="fav"></app-list-item>
  </ion-card>
</ion-content>
